.btn-primary{
    background-color: $blue;
    border-color: $blue;
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: $blue;
    border-color: $blue;
    opacity: 0.5;
}
.btn-primary:hover{
    background-color: $blueDark;
    border-color: $blueDark;
}
.btn-light{
    background-color: $white;
    border-color: $white;
}
.textBtn{
    background-color: transparent;
    border: none;
}
button[disabled]{
    cursor: not-allowed !important;
}
.marginBottom{
    margin-bottom: 25px;
}
.navHeader{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px !important;
    .user{
        width: 50px;
        border-radius: 50%;
    }
    .logo{
        width: 120px;
    }
}
.flexSpace{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appBody{
    padding: 20px;
}
.ps {
    height: calc(100vh - 165px);
  }