.btn-primary{
    background-color: $blue;
    border-color: $blue;
}
.btn-primary.disabled, .btn-primary:disabled{
    background-color: $blue;
    border-color: $blue;
    opacity: 0.5;
}
.btn-primary:hover{
    background-color: $blueDark;
    border-color: $blueDark;
}
.btn-light{
    background-color: $white;
    border-color: $white;
}
.textBtn{
    background-color: transparent;
    border: none;
}
button[disabled]{
    cursor: not-allowed !important;
}
.marginBottom{
    margin-bottom: 25px;
}
.navHeader{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 5px 20px !important;
    .user{
        width: 35px;
        border-radius: 50%;
    }
    .logo{
        width: 100px;
    }
}
.flexSpace{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appBody{
    padding: 0 20px 20px 20px;
}
.ps {
    height: calc(100vh - 265px);
}

footer {
    display: block;
    padding: 10px 5px 4px;
    margin: 0;
    background: white;
    width: 450px;
    position: fixed;
    bottom: 20px;
    overflow: hidden;
    z-index: 999;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-evenly;
    .footerNavItem{
        cursor: pointer;
        display: grid;
        color: $footerNavColor;
        .b-icon{
            margin: 0 auto;
        }
        .name{
            font-size: 0.7em;
            font-weight: 500;
            padding-top: 2px;
        }
    }
    .selectedFNav{
        color: $blue;
    }
}
  